@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:'Helvetica Neue';
  src: url('/public/fonts/HelveticaNeue.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:'Helvetica Neue';
  src: url('/public/fonts/HelveticaNeueBold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family:'Helvetica Neue';
  src: url('/public/fonts/HelveticaNeueLight.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family:'Helvetica Neue';
  src: url('/public/fonts/HelveticaNeueItalicBold.otf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body ,html{
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  box-sizing: border-box;
  width: 100vw;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.section-container{
  width:100%;
  overflow-x: hidden;
  position: relative;
  display: block;
  left: 0;
  right:0;
}

