

@font-face {
  font-family: 'Freesentation-9Black';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

.about {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    /* background-color: #f1f1f1; */
    /* background-color: black; */
    /* background-color: white; */
    /* font-family: '양진체'; */
    font-family: 'NEXON Lv2 Gothic';
    /* font-family: 'Freesentation-9Black'; */

    font-weight: 900;

    /* text-align: center; */
    overflow-y:hidden;
    /* background-image: url('../../public/images/marquee/img9.jpg'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position:relative;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    overflow-y:hidden;
    z-index: 2;

  }
  

  .parallaxBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    /* background-image: url('../../public/images/bg\ patterns\ \(5\).png'); */
    background-image: url('../../public/images/marquee/img9.jpg');
    background-size: cover;
    background-position: center;
    overflow-y:hidden;
    image-rendering: -webkit-optimize-contrast; /* 이미지 렌더링 개선 */
    image-rendering: crisp-edges;
    filter: brightness(0.7) contrast(0.9); 
  }

  .parallaxBackground::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.5' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    opacity: 0.2;
    mix-blend-mode: overlay;
    z-index: 1;
  }
  .content {
    font-size: 2.3rem;
    line-height: 1.2;
    font-weight: 6s00;
    word-break: keep-all;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.5);

  }

    .highlight {
    /* width: 100%; */
    display: flex !important; 
    flex-direction: column !important;
    gap:10px;
    justify-content: center; 
    align-items: center; 
    padding: 2rem; /* 안쪽 여백 */
    overflow-x: hidden;

  }
  
  .desc {
    color: #333; /* 기본 글자 색 */
    font-size: 1.8rem; /* 강조된 글자 크기 */
    font-weight: bold; /* 글씨 두께 */
    text-align: center; /* 텍스트 중앙 정렬 */
    /* background-color: rgba(255, 193, 7, 0.4);  */
    background-color: rgb(245, 245, 245, 0.3);
    padding: 1rem 1.5rem; /* 안쪽 여백 */
    margin: 0.5rem 0; /* 요소 간 간격 */
    border-radius: 13px; /* 모서리 둥글게 */
    transition: transform 0.3s ease, background-color 0.3s ease; /* 부드러운 효과 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: inline-block; 
    width: auto; 
    position: relative;
    width: 70%;
  }

  .desc:hover {
    transform: scale(1.1); /* 살짝 확대 */
  }


  .char {
    display: inline-block;
  }
  


  @media (max-width:1300px){
    .container {
      max-width: 1000px;
    }
    .content {
      font-size: 2.2rem;
    }
    .desc{
      font-size: 1.8rem;
    }
  }
  @media (max-width: 1000px){
    .content {
      font-size: 2rem;
    }
    .desc{
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 768px) {
    .content {
      font-size: 1.8rem;
    }
    .desc{
      width: 85%;
    }
  }