@font-face {
    font-family: "Big Shoulders Display";
    src: url("/fonts/BigShouldersDisplay.ttf") format("woff2-variations");
}
@font-face {
  font-family: 'KOTRAHOPE';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.marquees {
    width: 100%;
    height: 120vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    z-index: 2;
    /* font-family: "Big Shoulders Display"; */
    font-family: 'KOTRAHOPE';

    /* background-color: #ebebeb; */
    background-color: #f1f1f1;
    /* background-color: white; */
    /* background-color: black; */
    /* color: white; */
    color: black;
    border-radius: 80px 80px 0 0;
  }
  
  .marqueeContainer {
    position: relative;
    width: 125%;
    height: clamp(150px, 25vh, 250px);
    margin-bottom: 1em;
    overflow: hidden;
    display: flex;
    gap: 1em;
  }
  
  .marquee {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    gap: 1em;
  }
  
  .marqueeContainer:global(#marquee-1) .marquee,
  .marqueeContainer:global(#marquee-3) .marquee {
    left: -15%;
  }

  .item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .withText {
    flex: 1.5;
  }
  
  .item h1 {
    font-size: clamp(40px, 8vw, 120px); 
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: clamp(4px, 1vw, 8px);
  }

  @media (max-width: 1200px) {
    .item h1 {
      font-size: 100px;
    }
  }

  @media (max-width: 1199px) and (min-width: 768px) {
    .marqueeContainer {
        height: 200px;
    }
    
    .item h1 {
        font-size: 80px;
    }
 }

 @media (max-width: 767px) {
  .marquees{
    height:100vh;
  }

  .marqueeContainer {
      height: 150px;
      margin-bottom: 0.5em;
  }


  .item.withText {
      flex: 1;
  }

  .item h1 {
      font-size: clamp(30px, 6vw, 50px);
  }
}
  
@media (max-height: 600px) {
  .marquees{
    height: 80vh;
  }
  .marqueeContainer {
      height: 120px;
  }

  .item h1 {
      font-size: clamp(25px, 5vw, 40px);
  }
}