
@font-face {
  font-family: 'EarlyFontDiary';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LOTTERIADDAG';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIADDAG.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  position: relative;
  width: 100%;
  background-color: #e1dedc;
  background-color: #ebebeb;
  background-color: black;
  border-radius: 50px 70px 0 0;
}

.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 5em 0;
  /* color: #05364c; */
  color: black;
  color:white;
  z-index: 2;
}

.tagline {
  font-size: 20px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'NEXON Lv2 Gothic';
}
.taglineText {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.wavyUnderline {
  position: absolute;
  left: 0;
  width: 105%;
  height: 10px;
  color: white; /* 물결 색상 */
  pointer-events: none;
  transform-origin: center center;
  left: -2%;
}



.divider {
  width: 1.5px;
  height: 30%;
  background-color: white;
  position: relative;
}

.divider::after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  transform: translateX(-50%) rotate(45deg);
}
.intro_header {
  font-family:'Helvetica Neue';
  font-family: 'EarlyFontDiary';
  font-family: 'LOTTERIADDAG';

  font-size: 9vw;
  /* font-weight: 400; */
  line-height: 1;
  letter-spacing: -0.025em;
}

.gallery_section {
  position: relative;
  width: 100%;
  height: 200vh;
  background-color: transparent;
}

.gallery_container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  /* background-color: #ebebeb; */
  /* opacity: 0; */
  overflow: hidden;
}

.gallery_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 160vw;
  height: 100vh;
  display: flex;
  gap: 4em;
}

.col {
  position: relative;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4em;
  will-change: transform;
}

.img_wrapper {
  flex: 1;
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.main_img {
  position: relative;
  transform: scale(2);
  will-change: transform;
}

.whitespace {
  position: relative;
  width: 100%;
  height: 400vh;
  background-color: transparent;
}

@media (max-width:1300px){
  .divider{
    height: 40%;
  }
 
  .intro{
    padding: 3rem 0;
    height: 50vh;
  }
}