@font-face {
    font-family: "Big Shoulders Display";
    src: url("/fonts/BigShouldersDisplay.ttf") format("woff2-variations");
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.siteInner {
    width: 100%;
    /* padding: 16px; */
    background-color: #ebebeb;
    background-color: #f1f1f1;

    /* background-color: black; */
    font-family: "Big Shoulders Display";
    padding: 0 20px 20px 20px;
    color: black;

}

.siteTitle {
    position: sticky;
    top: 5px;
    left: 16px;
    width: 70%;
    height: 5vw;
    font-size: 4vw;
    font-weight: 900;
    line-height: 1.6;
    text-transform: uppercase;
    /* color: var(--black100); */
    border-bottom: 0.4vw solid black;
    margin-bottom: 10px;
    color: black;
}

.siteWrap{
    width: 100%;
}

.siteItem {
    height: 70vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    position: sticky;
    left: 0;
    border-radius: 22px;
    width: 100%;
}

.s1 {
    background-color: #BFC0C0;
    background-size: cover;
    top: 110px;
}

.s2 {
    background-color:  #FC9657;
    background-color: #FFD97D;
    background-size: cover;
    top: 200px;
}

.s3 {
    background-color:#A58CCE;
    background-color: #4F5D75;
    background-color: #D3E4CD;  
    background-size: cover;
    top: 290px;
}

.s4 {
    background-color: #6AC1DB;
    background-color: #EF8354 ;
  
    background-size: cover;
    overflow: hidden;
}

.num {
    font-size: 3vw;
    line-height: 1;
    font-weight: 900;
    position: absolute;
    left: 1vw;
    top: 1vw;
}

.title {
    margin-bottom: 1rem;
}


.skillContent{
    width: 100%;
    height: 100%;
    display: flex;
}
.contentLeft{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.logoBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}
.logoBox2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}
.logoBox3{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.logoBox4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.imgBox{
    width: 150px;
    height: 150px;
}
.imgBox2{
    width: 300px;
    height: 140px;
}
.imgBox3{
    width: 250px;
    height: 130px;
}

.skillLogo{
    width: 100%;
    height: 100%;
    background-position: center;
}


.info{
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoText{
    width: 70%;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    /* font-family: 'NEXON Lv2 Gothic'; */

}



@media (max-width:1600px) {
    .siteTitle{
        top: 30px;
    }
    .infoText{
        width: 90%;
        font-size: 18px;
    }
    .s1 {
        top: 100px;
    }

    .s2 {
        top: 160px;
    }

    .s3 {
        top: 220px;
    }
    .num{
        font-size: 4vw;
    }
    .imgBox{
        width: 120px;
        height: 120px;
    }
    .imgBox2{
        width: 250px;
        height: 140px;
    }
    .imgBox3{
        width: 200px;
        height: 130px;
    }
}


@media (max-width: 1000px) {
    .siteTitle {
        top:15px;
        font-size: 6vw;
        height: 6.4vw;
        border-bottom: 0.6vw solid black;
    }
    .num{
        font-size: 5.5vw;
        left: 20px;
        top: 20px;
    }
    .s1 {
        top: 85px;
    }

    .s2 {
        top: 145px;
    }

    .s3 {
        top: 205px;
    }
    .num{
        font-size: 5vw;
    }
    .skillContent{
      flex-direction: column;
    }  
    .contentLeft{
      padding: 10vw 2vw 2vw 2vw;
      flex:auto;
    }
    .imgBox{
      width: 80px;
      height: 80px;
    }
    .imgBox2{
      width: 170px;
      height: 80px;
    }
    .imgBox3{
      width: 170px;
      height: 70px;
    }
    .logoBox3{
        grid-template-columns: repeat(2, 1fr);
    }
    .logoBox4{
      gap: 0;
    }
    .info {
      flex:auto;
      justify-content: center;
      align-items: start;
      padding: 1vw;
    }
    .infoText{
        font-size: 15px;
    }

}

@media (max-width:600px){
  .infoText{
      font-size: 13px;
  }
  .s1 { top: 55px; }
  .s2 { top: 105px; }
  .s3 { top: 155px; }
    
  .siteInner{
    padding: 0 10px 20px 10px;
  }
  .imgBox2{
    width: 150px;
    height: 80px;
  }
  .imgBox3{
    width: 150px;
    height: 70px;
  }
}
